<%- include('header'); -%>


<div class="container mt-5">
  <div class="stagearea card mt-2 mb-2">
    <h1 class="card-title ml-3">Do</h1>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button class="btn btn-primary" type="submit" name="submit">Add task</button>
      <button class="btn btn-primary" type="submit" name="submit">View All</button>
    </div>
  </div>
  <div class="stagearea card mt-4 mb-2">
    <h1 class="card-title ml-3">Schedule</h1>
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <button class="btn btn-primary" type="submit" name="submit">Add task</button>
      <button class="btn btn-primary" type="submit" name="submit">View All</button>
    </div>
  </div>
</div>


<%- include('footer'); -%>
