
  </body>
    <footer style="color: #ffffff; background-color: #000000; position : fixed; bottom : 0; width : 100%; height : 30px;">
      <div class="d-flex justify-content-center">
        Copyright 2020 The Luas Pvt
      </div>
    </footer>
</html>
