<!DOCTYPE html>
<html lang="en">
<head>
  <title>Eisenhower Matrix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
  <body>
    <!-- Navigation Bar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Eisenhower</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/add">Add</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/region">
              Regions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/do">Do</a>
              <a class="dropdown-item" href="/schedule">Schedule</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/delegate">Delegate</a>
              <a class="dropdown-item" href="eliminate">Eleminate</a>
            </div>
          </li>
          <!-- <li class="dropdown">
            <button  onclick="myFunction()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Regions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="https://getbootstrap.com/docs/4.5/components/dropdowns/">Do</a>
              <a class="dropdown-item" href="#">Schedule</a>
              <a class="dropdown-item" href="#">Delegate</a>
              <a class="dropdown-item" href="#">Eleminate</a>
            </div>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" tabindex="-1">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 ml-sm-4" name="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success-blue bg-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- Navigation Bar End  -->
