<%- include('header'); -%>

<div class="body">

  <div class="d-flex justify-content-center" style="position: absolute; left: 75%; top: 20%;">
    <div class="justify-content-left" style="width: 300px;">
      <form class="form-group" action="/login" method="post">
        <input type="text" name="username" id="inputUsername" class="form-control mt-1 mb-1" placeholder="Username">
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
        <div class="d-flex justify-content-center mt-1">
          <button type="button" name="register" class="btn btn-primary" href="/register">Register</button>
          <button type="submit" name="login" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-center" style="visibility: show; position: absolute; left: 75%; top: 50%;">
    <div class="justify-content-left" style="width: 300px;">
      <form class="form-group" action="/register" method="post">
        <input type="email" name="email" id="inputEmail" class="form-control mt-1 mb-1" placeholder="Email">
        <input type="text" name="username" id="inputUsername" class="form-control mt-1 mb-1" placeholder="Username">
        <input type="password" name="password" id="inputPassword" class="form-control mt-1 mb-1" placeholder="Password">
        <input type="password" name="password1" id="inputPassword1" class="form-control mt-1 mb-1" placeholder="Repeat Password">
        <div class="d-flex justify-content-center mt-1">
          <button type="submit" name="signup" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>

</div>

<%- include('footer'); -%>
